<link href="{{url_for('static', filename='cropper.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='cropper.js')}}"></script>

{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom py-3 m-3">이미지 목록</h2>

<div class="py-3 m-3">
    <div class="row p-3">
        <div class="col-5 p-3">
            <!-- 검색 -->
            <div class="input-group mb-3">
                <datalist id="medicine_list_all">
                    {% for medicine in medicine_list_using %}
                            <option class-id="{{medicine.class_id}}" value="{{medicine.name}}"></option>
                        {% endfor %}
                </datalist>
                <input type="text" list="medicine_list_all" id="search_kw" class="form-control me-1" value="{{ kw or ''}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
                </div>
            </div>

            <!-- 약품 목록 -->
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-center table-primary">
                        <th>번호</th>
                        <th>ID</th>
                        <th>학습횟수</th>
                    </tr>
                </thead>

                <tbody>
                    {% if using_dataset.total > 0 %}
                    {% for dataset in using_dataset.items %}
                    <tr class="text-center" data-imgId="{{ dataset.img_id }}">
                        <td>{{ loop.index0 + 1 + (using_dataset.page - 1) * using_dataset.per_page }}</td>
                        <td class="text-center">{{ dataset.img_id }}</td>
                        <td>{{dataset.train_cnt}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">약품 정보가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- 약품 상세 정보 -->
            
            <div class="mb-3">
                
                <button id="save" type="button" class="btn btn-primary mb-3" style="float: right;">
                    저장
                </button>
                <button id="delete" type="button" class="btn btn-outline-danger" style="float: right;">
                    삭제
                </button>
                <button id="modify" type="button" class="btn btn-outline-success" style="float: right;">
                    수정
                </button>
                <button id="addTag" type="button" class="btn btn-primary mb-3" style="float: right;">
                    태그 추가
                </button>
            </div>
        </div>
        
        
        <div class="col-6 container border p-3">
            

            <div class="mb-3">
                <p class="fw-bold">
                    <input type="text" list="medicine_list_all" id="ClassNameList" class="form-control me-1" value="{{ kw or ''}}">
                </p>
                <img style="display:block; max-width: 100%;" src="/static/image/medicine_thum/tagging.png" class="form-control" id="img" ></img>
            </div>

            <div class="mb-3">
                <p>
                    <div id="btn_layer" class="btn-group btn-group-toggle" data-toggle="buttons">

                    </div>
                </p>
                
            </div>

        </div>

    </div>

    <!-- 페이징 -->
    <ul class="pagination justify-content-center mt-5">
        <!-- 이전 페이지 -->
        {% if using_dataset.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ using_dataset.prev_num }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}

        <!-- 숫자 페이지 -->
        {% for page_num in using_dataset.iter_pages() %}
        {% if page_num %}
        {% if page_num != using_dataset.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if using_dataset.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ using_dataset.next_num }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
</div>

<!-- 검색 폼 -->
<form id="searchForm" method="get" action="{{ url_for('model.data_tag') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}
{% block script %}
<script type="text/javascript">

    /* 페이징 */
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    /* 검색 */
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        console.log(document.getElementById('kw').value)
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        console.log(document.getElementById('kw').value)
        document.getElementById('page').value = 1; // 검색 시 1페이지부터 조회
        document.getElementById('searchForm').submit();
    })

    const search_kw = document.getElementById("search_kw");
    search_kw.addEventListener('keyup', function (event) {
        if (event.key === "Enter") {
            console.log(document.getElementById('kw').value)
            document.getElementById('kw').value = search_kw.value;
            console.log(document.getElementById('kw').value)
            document.getElementById('page').value = 1; // 검색 시 1페이지부터 조회
            document.getElementById('searchForm').submit();
        }
    });

    
</script>

<script type="module">
    import TagEditor from "{{ url_for('static', filename='cropper-tag.js') }}";
    const editor = new TagEditor('/model/data_detail/', '/model/tag_save/');
</script>

{% endblock %}