<link href="{{url_for('static', filename='cropper.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='cropper.js')}}"></script>

<script type="module">
    import DataTableModule from "{{ url_for('static', filename='data-table-module.js') }}";
    const Table = new DataTableModule('/model/data_detail/', '');
    Table.initializeDataTable('/model/data_q_list/Y/', 'yUseTableContainer', 'yUseDataTable', "{{ yKeyword or ''}}");
    Table.initializeDataTable('/model/data_q_list/N/', 'nUseTableContainer', 'nUseDataTable', "{{ yKeyword or ''}}");
</script>

{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom py-3 m-3">이미지 목록</h2>
<datalist id="medicine_list_all">
    {% for medicine in medicine_list_using %}
        <option class-id="{{medicine.class_id}}" value="{{medicine.name}}"></option>
    {% endfor %}
</datalist>

<div class="py-3 m-3">
    <div class="row p-3">
        <div class="col container">
            <!-- 검색 -->
            <div class="row row mb-3">
                <div class="col input-group">
                    <input type="text" list="medicine_list_all" id="search_kw_y" class="form-control me-1" value="{{ yKeyword or ''}}">
                    <button class="btn btn-outline-secondary" type="button" id="ybtn_search">검색</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                    <!-- 약품 목록 -->
                    <div id="yUseTableContainer" style="max-height: 80%; overflow-y: auto;">
                        <table class="table table-hover table-bordered table-responsive" style="height:200px; overflow-y: auto;">
                            <thead style="position: sticky; top:0;">
                                <tr class="text-center table-primary">
                                    <th><input class="form-check-input" type="checkbox" id="yCheckAll"></th>
                                    <th>ID</th>
                                    <th>학습횟수</th>
                                </tr>
                            </thead>

                            <tbody id="yUseDataTable">
                                {% if using_dataset.total > 0 %}
                                {% for dataset in using_dataset.items %}
                                <tr class="text-center" data-imgId="{{ dataset.img_id }}">
                                    <td>
                                        <input train-yn="{{dataset.train_yn}}" class="form-check-input" type="checkbox" value="{{dataset.img_id}}" id="flexCheckDefault">
                                    </td>
                                    <td class="text-center">{{ dataset.img_id }}</td>
                                    <td>{{dataset.train_cnt}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">약품 정보가 없습니다.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- 약품 상세 정보 -->
                    
                    <div class="mb-3">
                        <!-- 
                        <button type="submit" onclick="modDataSubmit()" class="btn btn-primary mb-3" style="float: right;">
                            저장
                        </button>
                        <button id="modify" onclick="modifyToggle(this);" type="button" class="btn btn-outline-success" style="float: right;">
                            수정
                        </button>
                        -->
                        <button id="learning" onclick="learning();" type="button" class="btn btn-primary mb-3" style="float: right;">
                            학습 시작
                        </button>
                        <button id="saveY" onclick="dataChange('Y');" type="button" class="btn btn-primary mb-3" style="float: right;">
                            데이터 제거
                        </button>
                    </div>
                </div>

                <div class="col">
                    <!-- 검색 -->
                    <div class="input-group mb-3" style="display: none;">
                        <input type="text" list="medicine_list_all" id="search_kw_n" class="form-control me-1" value="{{ kw_n or ''}}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="nbtn_search">검색</button>
                        </div>
                    </div>

                    <!-- 약품 목록 -->
                    <div id="nUseTableContainer" style="max-height: 80%; overflow-y: auto;">
                        <table class="table table-hover table-bordered table-responsive" style="height:200px; overflow-y: auto;">
                            <thead style="position: sticky; top:0;">
                                <tr class="text-center table-primary">
                                    <th><input class="form-check-input" type="checkbox" id="nCheckAll"></th>
                                    <th>ID</th>
                                    <th>학습횟수</th>
                                </tr>
                            </thead>

                            <tbody id="nUseDataTable">
                                {% if n_dataset.total > 0 %}
                                {% for dataset in n_dataset.items %}
                                <tr class="text-center" data-imgId="{{ dataset.img_id }}">
                                    <td>
                                        <input train-yn="{{dataset.train_yn}}" class="form-check-input trainN" type="checkbox" value="{{dataset.img_id}}" id="flexCheckDefault">
                                    </td>
                                    <td class="text-center">{{ dataset.img_id }}</td>
                                    <td>{{dataset.train_cnt}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">약품 정보가 없습니다.</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!-- 약품 상세 정보 -->
                    
                    <div class="mb-3">
                        
                        <!-- 
                        <button type="submit" onclick="modDataSubmit()" class="btn btn-primary mb-3" style="float: right;">
                            저장
                        </button>
                        <button id="modify" onclick="modifyToggle(this);" type="button" class="btn btn-outline-success" style="float: right;">
                            수정
                        </button>
                        -->
                        <button id="saveN" onclick="dataChange('N');" type="button" class="btn btn-primary mb-3" style="float: right;">
                            데이터 추가
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-6 container border p-3">
            
            <div class="mb-3">
                <p class="fw-bold">
                    <input type="text" list="medicine_list_all" id="ClassNameList" class="form-control me-1" value="">
                </p>
                <img style="display:block; max-width: 100%;" src="/static/image/medicine_thum/tagging.png" class="form-control" id="img" ></img>
            </div>

            <div class="mb-3">
                <p>
                    <div id="btn_layer" class="btn-group btn-group-toggle" data-toggle="buttons">

                    </div>
                </p>
                
            </div>

        </div>

    </div>

</div>

<form id="searchForm" method="POST" action="{{ url_for('model.data_list') }}">
    <input type="hidden" id="yKeyword" name="yKeyword" value="{{ yKeyword or '' }}">
    <input type="hidden" id="nKeyword" name="nKeyword" value="{{ nKeyword or '' }}">
</form>

{% endblock %}
{% block script %}
<script type="text/javascript">

    /* 페이징 */
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    /* 검색 */
    function searchBtn () {
        document.getElementById('yKeyword').value = document.getElementById('search_kw_y').value;
        document.getElementById('nKeyword').value = document.getElementById('search_kw_n').value;
        document.getElementById('searchForm').submit();
    }

    function searchEnter(event) {
        if (event.key === "Enter") {
            document.getElementById('yKeyword').value = document.getElementById('search_kw_y').value;
            document.getElementById('nKeyword').value = document.getElementById('search_kw_n').value;
            document.getElementById('searchForm').submit();
        }
    }
    document.getElementById("ybtn_search").addEventListener('click', searchBtn);
    document.getElementById("nbtn_search").addEventListener('click', searchBtn);

    document.getElementById("search_kw_y").addEventListener('keyup', searchEnter);
    document.getElementById("search_kw_n").addEventListener('keyup', searchEnter);

    function dataChange(train_yn){
        
        let data_list = [];
        
        document.querySelectorAll(`[train-yn="${train_yn}"]:checked`).forEach(function (item) {
            data_list.push(item.value);
        });

        fetch("/model/yn_change/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                now: train_yn,
                data: data_list
            }),
        }).then((data) => {
            // 성공적으로 JSON 데이터를 받았을 때
            console.log(data); // 받은 데이터를 로그에 출력
            alert('성공적으로 저장되었습니다.');
            location.reload();
        })
        .catch((error) => {
            // 오류가 발생했을 때
            console.error('오류 발생:', error);
            alert('저장에 실패했습니다. 다시 시도해주세요.');
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const checkAllYCheckbox = document.getElementById('yCheckAll');

        checkAllYCheckbox.addEventListener('change', function () {
            document.querySelectorAll('[train-yn="Y"]').forEach(function (checkbox) {
                checkbox.checked = checkAllYCheckbox.checked;
            });
        });

        const checkAllNCheckbox = document.getElementById('nCheckAll');

        checkAllNCheckbox.addEventListener('change', function () {
            document.querySelectorAll('[train-yn="N"]').forEach(function (checkbox) {
                checkbox.checked = checkAllNCheckbox.checked;
            });
        });
    });

    function learning(){
        
        fetch("/model/learning/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                now: "learning",
                data: "data_list"
            }),
        }).then((data) => {
            // 성공적으로 JSON 데이터를 받았을 때
            console.log(data); // 받은 데이터를 로그에 출력
            alert('모델 학습 완료.');
            location.reload();
        })
        .catch((error) => {
            // 오류가 발생했을 때
            console.error('오류 발생:', error);
            alert('저장에 실패했습니다. 다시 시도해주세요.');
        });
    }
</script>
<!-- <script type="module">
    import TagEditor from "{{ url_for('static', filename='cropper-tag.js') }}";
    const editor = new TagEditor('/model/data_detail/', '/model/tag_save/');
</script> -->
{% endblock %}
