{% extends 'base.html' %}
{% block content %}

<h2 class="border-bottom py-3 m-3">유저 관리</h2>

<div class="py-3 m-3">

    <!-- 검색 -->
    <div class="row p-3">
        <div class="col-3">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control me-1" value="{{ kw or ''}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
                </div>
            </div>
        </div>

        <div class="col-2 text-end">
            <a href="{{ url_for('page.user_create') }}" class="btn btn-primary">유저 등록</a>
        </div>
    </div>

    <div class="row p-3">
        <!-- 유저 목록 -->
        <div class="col-5">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-center table-primary">
                        <th>번호</th>
                        <th>아이디</th>
                        <th>관리</th>
                    </tr>
                </thead>

                <tbody>
                    {% if user_list.total > 0 %}
                    {% for user in user_list.items %}
                    <tr class="text-center align-middle" data-userId="{{ user.user_id }}">
                        <td>{{ loop.index0 + 1 + (user_list.page - 1) * user_list.per_page }}</td>
                        <td class="text-center">{{ user.user_id }}</td>
                        <td>
                            <a href="{{ url_for('page.user_modify', user_id=user.user_id) }}"
                                class="btn btn-outline-dark btn-sm">
                                <i class="bi bi-pencil-fill me-1"></i>수정
                            </a>
                            <a href="javascript:void(0)" class="delete btn btn-outline-danger btn-sm"
                                data-uri="{{ url_for('page.user_delete', user_id=user.user_id) }}">
                                <i class="bi bi-x-lg me-1"></i>삭제
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">회원 정보가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- 유저 상세 정보 -->
        <div class="col-6 p-3 ms-4 card d-flex justify-content-center">

            <div class="text-center">
                <div id="loadingSection" class="spinner-border text-secondary visually-hidden">
                </div>
            </div>

            <div id="detailSection">

                <div class="">
                    <p class="fw-bold">상세정보</p>
                </div>

                <div class="row mb-3">
                    <label for="user_id" class="col-auto col-form-label">아이디</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="user_id" id="user_id" value="" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="name" class="col-auto col-form-label">이름</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="name" id="name" value="" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="birthday" class="col-auto col-form-label">생년월일</label>
                    <div class="col-6">
                        <input type="date" class="form-control" name="birthday" id="birthday" value="" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-auto col-form-label">성별</label>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="남성" checked
                                disabled>
                            <label class="form-check-label" for="male">남성</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="여성" disabled>
                            <label class="form-check-label" for="female">여성</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="phone" class="col-auto col-form-label">전화번호</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="phone" id="phone" value="" readonly>
                    </div>
                </div>

                <div class="col-8 text-center my-3">
                    <a href="javascript:void(0)" class="btn btn-outline-dark disabled" id="editBtn" data-userId="">
                        <i class="bi bi-pencil-fill me-1"></i>수정
                    </a>
                    <a href="javascript:void(0)" class="btn btn-outline-danger disabled" id="deleteBtn" data-userId="">
                        <i class="bi bi-x-lg me-1"></i>삭제
                    </a>
                </div>

                <hr>

                <div class="mt-3">
                    <p class="fw-bold">최근이력</p>
                </div>

                <div class="overflow-auto" style="max-height: 25%;">
                    <table class="table table-bordered">
                        <thead class="sticky-top">
                            <tr class="text-center table-primary">
                                <th>번호</th>
                                <th>분석날짜</th>
                                <th>추측 약품</th>
                                <th>정확도</th>
                            </tr>
                        </thead>
                        <tbody id="recentLogsTableBody" class="text-center">

                        </tbody>
                    </table>
                </div>

                <div class="mt-3">
                    <p class="fw-bold">약품별 분석횟수</p>
                    <canvas id="medicine_count"></canvas>
                </div>

            </div>

        </div>

    </div>

    <!-- 페이징 -->
    <div class="row">
        <div class="">
            <ul class="pagination justify-content-center mt-5">
                <!-- 이전 페이지 -->
                {% if user_list.has_prev %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.prev_num }}" href="javascript:void(0)">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                </li>
                {% endif %}

                <!-- 숫자 페이지 -->
                {% for page_num in user_list.iter_pages() %}
                {% if page_num %}
                {% if page_num != user_list.page %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if user_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ user_list.next_num }}" href="javascript:void(0)">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

<!-- 검색 폼 -->
<form id="searchForm" method="get" action="{{ url_for('page.user_list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>

<script type="text/javascript">

    /* 페이징 */
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    /* 검색 */
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 1; // 검색 시 1페이지부터 조회
        document.getElementById('searchForm').submit();
    })

    const search_kw = document.getElementById("search_kw");
    search_kw.addEventListener('keyup', function (event) {
        if (event.key === "Enter") {
            document.getElementById('kw').value = search_kw.value;
            document.getElementById('page').value = 1; // 검색 시 1페이지부터 조회
            document.getElementById('searchForm').submit();
        }
    });

    /* 폼 정렬 */
    const labels = document.querySelectorAll('.col-form-label');
    let maxLabelWidth = 0;

    labels.forEach(label => {
        const labelWidth = label.offsetWidth;
        if (labelWidth > maxLabelWidth) {
            maxLabelWidth = labelWidth;
        }
    });

    labels.forEach(label => {
        label.style.width = maxLabelWidth + 'px';
    })

    /* 날짜 포맷팅 */
    function formatDate(date) {

        if (!date) {
            return "";
        }

        const d = new Date(date);

        if (isNaN(d.getTime())) {
            return "";
        }

        const year = d.getFullYear();
        const month = (d.getMonth() + 1).toString().padStart(2, '0');
        const day = d.getDate().toString().padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    function formatDate2(date) {

        const d = new Date(date);

        if (isNaN(d.getTime())) {
            return "";
        }

        const year = d.getFullYear();
        const month = (d.getMonth() + 1).toString().padStart(2, '0');
        const day = d.getDate().toString().padStart(2, '0');
        const hour = d.getHours().toString().padStart(2, '0');
        const minute = d.getMinutes().toString().padStart(2, '0');

        return `${year}-${month}-${day} ${hour}:${minute}`;
    }

    /* 유저 상세 정보(AJAX) */
    const rows = document.querySelectorAll('tr[data-userId]');
    const idInput = document.getElementById('user_id');
    const nameInput = document.getElementById('name');
    const birthdayInput = document.getElementById('birthday');
    const phoneInput = document.getElementById('phone');
    // const rate = document.getElementById('rate');
    // const date = document.getElementById('date');
    const recentLogsTableBody = document.getElementById('recentLogsTableBody');

    const editBtn = document.getElementById("editBtn");
    const deleteBtn = document.getElementById("deleteBtn");

    const medicine_count = document.getElementById('medicine_count');

    let selectedRow = null;
    var isRunning = false;
    const loadingSection = document.getElementById('loadingSection');
    const detailSection = document.getElementById('detailSection');

    rows.forEach(function (row) {
        row.addEventListener('click', function () {

            if (isRunning) {
                return;
            }

            isRunning = true;
            loadingSection.classList.remove('visually-hidden')
            detailSection.classList.add('visually-hidden')

            const userId = this.getAttribute('data-userId');
            idInput.value = userId;

            if (selectedRow) {
                selectedRow.classList.remove('table-active');
            }

            selectedRow = this;
            selectedRow.classList.add('table-active');

            nameInput.value = '';
            birthdayInput.value = '';
            phoneInput.value = '';
            // rate.value = '';
            // date.value = '';

            // 초기화
            recentLogsTableBody.innerHTML = '';

            fetch(`/page/user_detail/${userId}`)
                .then(response => response.json())
                .then(data => {
                    if ('error' in data) {
                        console.error(data.error);
                    } else {
                        nameInput.value = data.name;
                        birthdayInput.value = formatDate(data.birthday);
                        phoneInput.value = data.phone;
                        // rate.value = data.rate;
                        // date.value = formatDate(data.date);

                        const genderValue = data.gender;
                        if (genderValue === "남성") {
                            document.getElementById('male').checked = true;
                        } else if (genderValue === "여성") {
                            document.getElementById('female').checked = true;
                        }

                        editBtn.classList.remove('disabled');
                        deleteBtn.classList.remove('disabled');

                        editBtn.setAttribute("data-userId", userId);
                        deleteBtn.setAttribute("data-userId", userId);

                        // 최근 이력 추가
                        if (data.logs && data.logs.length > 0) {

                            data.logs.forEach(function (log, index) {
                                const row = recentLogsTableBody.insertRow();
                                const cell1 = row.insertCell(0);
                                const cell2 = row.insertCell(1);
                                const cell3 = row.insertCell(2);
                                const cell4 = row.insertCell(3);

                                cell1.textContent = index + 1;
                                cell2.textContent = formatDate2(log.date);
                                // cell3.textContent = log.class_id;
                                cell3.textContent = log.medicine_name;
                                cell4.textContent = log.rate;
                            })

                            // 기존에 생성된 Chart 파괴
                            if (window.myChart) {
                                window.myChart.destroy();
                            }

                            // 새로운 Chart 생성
                            window.myChart = new Chart(medicine_count, {
                                plugins: [ChartDataLabels],
                                type: 'bar',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: '회',
                                        data: data.counts,
                                        datalabels: {
                                            anchor: 'end',
                                            align: 'start'
                                        }
                                    }]
                                },
                                options: {
                                    plugins: {

                                        tooltip: {
                                            enabled: false
                                        },

                                        datalabels: {
                                            color: 'black',
                                            display: function (context) {
                                                return context.dataset.data;
                                            },
                                            font: {
                                                weight: 'bold',
                                                size: 14
                                            }
                                        }
                                    },


                                    maxBarThickness: 50,
                                    scales: {
                                        x: {
                                            ticks: {
                                                autoSkip: false,
                                                maxRotation: 0,
                                                minRotation: 0,
                                            }
                                        },
                                        y: {
                                            beginAtZero: true,
                                            ticks: {
                                                stepSize: 1
                                            }
                                        }
                                    }
                                }
                            });



                        } else {

                            if (window.myChart) {
                                window.myChart.destroy();
                            }
                        }
                    }
                    isRunning = false;
                    loadingSection.classList.add('visually-hidden')
                    detailSection.classList.remove('visually-hidden')
                })
                .catch(error => {
                    console.log('유저 정보를 가져오는 중 오류 발생: ', error)
                });
        })
    })


    /* 수정 */
    editBtn.addEventListener('click', function () {
        const userId = this.getAttribute('data-userId');
        if (userId) {
            window.location.href = `/page/user_modify/${userId}`;
        }
    })

    /* 삭제 */
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    deleteBtn.addEventListener('click', function () {
        const userId = this.getAttribute('data-userId');
        if (userId && confirm("정말 삭제하시겠습니까?")) {
            window.location.href = `/page/user_delete/${userId}`;
        }
    })

</script>
{% endblock %}