<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <title>KnowMedicine 관리자 시스템</title>
</head>

<body>

    <div class="d-flex align-items-center vh-100 flex-column justify-content-center">

        <div class="text-center mb-4">
            <h4 class="my-3 fw-bold">KnowMedicine 관리자 시스템</h4>
        </div>

        <div class="container col-2">
            <form method="post">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}

                <div class="form-group mb-2">
                    <input type="text" class="form-control" name="user_id" id="user_id" value="{{ form.user_id.data or '' }}" placeholder="아이디">
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" value="{{ form.password.data or '' }}" placeholder="비밀번호">
                </div>

                <button type="submit" class="btn btn-primary mb-3 w-100 fw-bolder">로그인</button>
            </form>


            <!-- <a href="{{ url_for('auth.signup') }}">테스트 계정 생성</a> -->
        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}">
    </script>

</body>

</html>